
/* ------------------------------------------------------------------------------------
MENU
--------------------------------------------------------------------------------------*/

.MenuPane {
    -fx-background-color: D4D4D4;
    -fx-spacing: 60;
}

.MenuButton {
    -fx-padding: 4, 4, 4, 4;
    -fx-spacing: 2;
}

#active, #hover {
    -fx-background-color: rgba(255,255,255,0.4);
}


/* ------------------------------------------------------------------------------------
LOGIN
--------------------------------------------------------------------------------------*/

.LoginPane {
    -fx-padding: 15, 10, 15, 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.HBoxForLoginBtn {
    -fx-spacing: 10;
}

.WelcomeText {
    -fx-font-size: 15;
}

.WrongLoginLabel {
    -fx-text-fill: red;
}


/* ------------------------------------------------------------------------------------
GENERAL
--------------------------------------------------------------------------------------*/

